@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-family-Lexend: var(--font-lexend);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  
  }
}

/* @font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
} */


 :root {
    --color-brand-yellow: #FF9D1F; /* Custom yellow color */
    --color-brand-dark: #0A0A0F;
    --color-brand-light: #1A1A1A;
    --color-brand-bg: #11172C;
    --color-gray-light: #d1d5db;
    --color-brand-dark-bg: #080C17
 }

/* Utility classes for custom colors */
.text-brand-yellow {
  color: var(--color-brand-yellow);
}
.brand-bg{
  background-color: var(--color-brand-bg);
}

.bg-brand-yellow {
  background-color: var(--color-brand-yellow);
}

.bg-brand-dark {
  background-color: var(--color-brand-dark);
}

.brand-dark-bg {
  background-color: var(--color-brand-dark-bg);
}

.bg-brand-light {
  background-color: var(--color-brand-light);
}

.border-brand-yellow {
  border-color: var(--color-brand-yellow);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
